**/*.*
!**/*.ts
!**/*.cts
!**/*.mts
!**/*.js
!**/*.cjs
!**/*.mjs
!**/*.json
!.eslintignore
!.eslintrc

**/.vscode/
**/__tmp__/
**/__test__/cases/
**/__test__/fixtures/
**/coverage/
**/dist/
**/doc/
**/example/
**/lib/
**/node_modules/
**/resource/
**/test/
